<h1>Static#index</h1>
<p>Find me in app/views/static/index.html.erb</p>
<div class="linktrack">
  <a href="http://google.com">Test Link 1</a> |
  <a href="http://yahoo.com">Test Link 2</a> |
  <a href="http://testing.com">Test Link 3</a> |
  <a href="/link4">Test Link 4</a> |
  <a href="/link5">Test Link 5</a> |
  <a href="/link6">Test Link 6</a> |
  <a href="/link7">Test Link 7</a>
</div>